#footer{
    background: var(--primary-dark-color);
    padding: 2rem 0rem;
}
#copyright{
    background: #15863D;
    padding: 1rem 0rem;
}

#copyright .container{
    width: 90%;
    max-width: 980px;
    margin: auto;
}

#copyright div p{
    color: var(--white);
}

address, address > b{
    color: var(--white);
    font-style: normal;
}

#footer .container{
    width: 90%;
    max-width: 980px;
    margin: auto;

    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-gap: 20px;
    justify-items: center;
}

.item{
    width: 100%;
    min-height: 20px;
    color: var(--white);
}

.item .midia {
    text-align: center;
} 

.item a img{
    width: 5rem;
    padding: 1rem;
} 

.item h3{
    color: var(--white);
    text-align: center;
}

@media (max-width: 441px){
    
    .item a img{
        width: 5rem;
        padding-top: 1rem;
        padding: .5rem;
    }  
}